<div>
  <div *ngIf="launches; else loading" class="example-headers-align">
    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput type="text" [formControl]="searchControl" placeholder="Search by mission name">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let launch of launches; let i = index" hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title> Launch #{{i + 1}} </mat-panel-title>
          <mat-panel-description>
            {{ launch.mission_name }}
            <mat-icon *ngIf="isFav(launch.flight_number)" (click)="fav(launch.flight_number)">favorite</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <p>{{ launch.details }}</p>
        <mat-action-row>
            <button mat-raised-button color="accent" (click)="viewDetails(launch.flight_number)">
              Details
            </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>
